<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado libre</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/203abf4523.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div>
            <img width="185" src="/imagenes/logo-mercado-liebre.svg" alt="logo">
        </div>
        <div>
            <form action="">
                <input type="text">
                <button>Buscar</button>
            </form>
        </div>
        <p>Compra en coutas y sin tarjeta de credito</p>
        <nav>
            <ul type="none">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul type="none">
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
        <div>
            <img width="220" src="/imagenes/img-home-banner.jpg" alt="">
        </div>
    </header>

    <main>
        <h3>Basado en tu última visita</h3>
        <section>
            <article>
                <div>
                    <img width="250" src="/imagenes/img-cafetera-moulinex.jpg" alt="cafetera">
                </div>
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
        </section>
        <section>
            <article>
                <div>
                    <img width="240" src="/imagenes/img-macbook-pro-2019.jpg" alt="MacBook">
                </div>
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
        </section>
        <section>
            <article>
                <div>
                    <img width="300" src="/imagenes/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                </div>
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
        </section>
        <section>
            <article>
                <div>
                    <img width="240" src="/imagenes/img-tv-samsung-smart.jpg" alt="SmartTv">
                </div>
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
        <h4>Sección de Ofertas</h4>
        <section>
            <article>
                <div>
                    <img width="250" src="/imagenes/img-cafetera-moulinex.jpg" alt="cafetera">
                </div>
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
        </section>
        <section>
            <article>
                <div>
                    <img width="240" src="/imagenes/img-macbook-pro-2019.jpg" alt="MacBook">
                </div>
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
        </section>
        <section>
            <article>
                <div>
                    <img width="300" src="/imagenes/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                </div>
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
        </section>
        <section>
            <article>
                <div>
                    <img width="240" src="/imagenes/img-tv-samsung-smart.jpg" alt="SmartTv">
                </div>
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
        
    </main>

    <footer>
        <p>Pagá con tarjeta o en efectivo
            Con Mercado <br> Liebre Cash, tenés cuotas sin 
            interés con <br> tarjeta o efectivo en
            puntos de pago. <br> ¡Y siempre es seguro!</p>
        <p>Envío gratis desde $ 2.500
            Solo por estar <br> registrad@ en Mercado Liebre tenés envíos <br> gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <p>Seguridad, de principio a fin
            ¿No te gusta? <br> ¡Devolvelo! En Mercado Liebre, no hay nada <br> que no puedas hacer,
            porque estás siempre <br> protegid@.</p>
        <p>Copyright © 1999-2020 <br> MercadoLiebre S.R.L.</p>
    </footer>
    
</body>
</html>