<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/203abf4523.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="d-flex j-between home__header">
            <div>
                <a href="/"><img width="185" src="/images/logo-mercado-liebre.svg" alt="logo"></a>
            </div>
            <div>
                <form action="">
                    <input placeholder="Buscar productos, marcas" type="text">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="credito1">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p class="credito">Compra en coutas y sin tarjeta de credito</p>
            </div>
        </div>
        <nav class="d-flex j-between p-bottom nav-web">
            <ul class="d-flex" type="none">
                <li><a class="p-10" href="">Ofertas</a></li>
                <li><a class="p-10" href="">Tiendas Oficiales</a></li>
                <li><a class="p-10" href="">Vender</a></li>
                <li><a class="p-10" href="">Ayuda</a></li>
            </ul>
            <ul class="d-flex" type="none">
                <li><a class="p-10" href="/register">Crea tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a class="p-10" href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a class="p-10" href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="home__button">
            <button><i class="fa-solid fa-bars"></i></button>
        </div>
    </header>
    <main class="home__main d-flex a-center j-center">
        <form class="w-40 d-flex flex-column" action="/register.html" method="post">

            <label for="name"></label>
            <input class="m-top25 radio p-left" placeholder="Nombre y apellido" type="text" name="name" id="name">


            <label for="nombre"></label>
            <input class="m-top50 radio p-left" placeholder="Nombre de usuario" type="text" name="nombre" id="nombre">


            <label for="E-mail"></label>
            <input class="m-top50 radio p-left" placeholder="E-mail" type="email" name="E-mail" id="E-mail">


            <label for="password"></label>
            <input class="m-top50 radio p-left" placeholder="Contraseña" type="password" name="password" id="password">


            <label for="password2"></label>
            <input class="m-top50 radio p-left m-botton25" placeholder="Confirmar contraseña" type="password" name="password2" id="password2">

            <h2>Fecha de nacimiento</h2>
            <input class="m-top50 radio p-left" type="date" name="Fecha" value="yyyy-mm-dd" min="1970-01-01" max="2022-12-31">

            <label for="domicilio"></label>
            <input class="m-top50 radio p-left m-botton25" placeholder="Domicilio" type="domicilio" name="domicilio" id="domicilio">

            <h2>Seleccionar una imagen para el perfil</h2>
            <input class="m-top50 radio m-botton25" type="file" name="avatar" accept=".jpg" multiple>
            <h3 class="m-botton25">Perfil de usuario</h3>
            <label for="">Comprador</label>
            <input type="radio" name="Perfil-de-usuario" value="Comprador">
            <label for="">Vendedor</label>
            <input class="m-botton25" type="radio" name="Perfil-de-usuario" value="Vendedor">
            <h3 class="m-botton25">Intereses</h3>
        <div class="d-flex m-botton25">
            <label for="">Electro</label>
            <input class="checkbox " type="checkbox" name="interes" value="Electro">
        </div>
        <div class="d-flex m-botton25">
            <label for="">Moda</label>
            <input class="checkbox" type="checkbox" name="interes" value="Moda">
        </div>
        <div class="d-flex m-botton25">
            <label for="">Hogar</label>
            <input class="checkbox" type="checkbox" name="interes" value="Hogar">
        </div>
        <div class="d-flex m-botton25">
            <label for="">Jugueteria</label>
            <input class="checkbox" type="checkbox" name="interes" value="Jugueteria">
        </div>
        <div class="d-flex m-botton25">
            <label for="">Vida sana</label>
            <input class="checkbox" type="checkbox" name="interes" value="Vida sana">
        </div>
            <button class="m-top50 radio enviar" type="reset">Borrar datos</button>
            <button class="enviar m-top50 m-botton25" type="submit">Enviar</button>
        </form>
    </main>

    <footer class="home__footer">
        <i class="fa-solid fa-credit-card icono"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado <br> Liebre Cash, tenés cuotas sin
            interés con <br> tarjeta o efectivo en
            puntos de pago. <br> ¡Y siempre es seguro!</p>

        <i class="fa-solid fa-gift icono"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

        <i class="fa-solid fa-user-shield icono"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? <br> ¡Devolvelo! En Mercado Liebre, no hay nada <br> que no puedas hacer,
            porque estás siempre <br> protegid@.</h3>
        <p class="footer__copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>

</html>