*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.flag{
    border: 1px solid red;
}

.d-flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
    flex-flow: row;
    flex-grow: 3;
}


.over{
    overflow-wrap: break-word ;
}

.linea{
    align-items: center;
    justify-content: end;
}

.m-left{
    margin-left: 10px;
}

.m-top{
    margin-top: 10px;
}

.position{
    position:absolute;
    width: 20% ;
}

.justi-end{
    justify-content: end;
}

body{
    background-color: #EAC926;
}

.header{
    width: 100%;
}

.home__header{
    padding: 40px ;
}


.home__button button{
    width: 40px;
    height: 40px;
    font-size: 22px;
    background-color: #1259c3;
    color: #fff;
    border-radius: 10px;
    margin:auto;
}

.home__button{
    width: 330px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 15px;
}

.credito1{
    text-align: center;
}

.credito{
    display: inline-block;
}

.home__main{
    background-color: #ebebeb;
}

.j-between{
    justify-content: space-between ;
}


.card{
    background-color: #fff;
}

.img-card{
   max-width: 80%;
   min-width: 50%;
}

hr{
    border: 1px solid #c9c9c9;
}
 
.truck{ 
    background-color: white;
    color: #39b54a;
    padding: 8px;
    border-radius: 100%;
    border: 1px solid #39b54a;
    z-index: 2;
    margin-right: 10px;
}
.oferta{
    color: #39b54a;
}

.p-bottom{
    padding-bottom: 20px;
}

.p-10{
    padding: 10px;
}

.home__footer{
    text-align: center;
    background-color: #fff;
}

.footer__copy{
    text-align: left;
}

.icono{
    color: #1259c3;
    width: 50px;
    height: 50px;
    font-size: 32px;
    margin: 15px 0 -25px;
}

@media (min-width: 330px){
    .card{
        width: 20%;
    }
    .home__button{
        display: none;
    }
}

@media (max-width: 320px){
    .card{
        width: 90%;
    }
    .p-0{
        display: none;
    }
}




