*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #EAC926;
}

.home__button button{
    width: 40px;
    height: 40px;
    font-size: 22px;
    background-color: #1259c3;
    color: #fff;
    border-radius: 10px;
    margin:auto;
}

.home__button{
    width: 330px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 15px;
}

.credito{
    display: inline-block;
}

.p-0{
    padding-left: 0;
    margin-left: 0;
}

.home__footer{
    text-align: center;
    background-color: #fff;
}

.footer__copy{
    text-align: left;
}

.flag{
    color: #1259c3;
    width: 50px;
    height: 50px;
    font-size: 32px;
    margin: 15px 0 -25px;
}


